<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--引用与被引用的组件必须全部在ioc容器中-->

    <!--1. 单个构造参数注入-->
    <!--步骤1：将他们都存放在ioc容器中-->
    <bean id="userDao" class="com.hut.ioc_02.UserDao"/>
    <bean id="userService" class="com.hut.ioc_02.UserService">
        <!--步骤2：在标签内部指定构造参数传值，即DI的配置
            <constructor-arg 构造参数传值的di配置
                value 直接赋值属性值 String name = "hh" int age = 23
                ref 引用其他的bean的Id值
                以上两个二选一
        -->
        <constructor-arg ref="userDao"/>
    </bean>

    <!--2. 多个构造参数注入-->
    <bean id="userService1" class="com.hut.ioc_02.UserService">
        <!--方案1：构造参数的顺序填写值-->
        <constructor-arg value="18"/>
        <constructor-arg value="阿彬"/>
        <constructor-arg ref="userDao"/>
    </bean>

    <bean id="userService2" class="com.hut.ioc_02.UserService">
        <!--方案2：构造参数的名称填写，不用考虑顺序，name = 构造参数的名字-->
        <constructor-arg name="name" value="yubin"/>
        <constructor-arg name="age" value= "23"/>
        <constructor-arg name="userDao" ref="userDao"/>
    </bean>

    <bean id="userService3" class="com.hut.ioc_02.UserService">
        <!--方案3：构造参数的下角标指定填写，不用考虑顺序，index = 构造参数的下角标，从左至右，从0开始-->
        <constructor-arg index="1" value="yubin"/>
        <constructor-arg index="0" value= "23"/>
        <constructor-arg index="2" ref="userDao"/>
    </bean>

    <!--3. 触发setter方法进行注入-->
    <bean id="movieFinder" class="com.hut.ioc_02.MovieFinder"/>
    <bean id="simpleMovieLister" class="com.hut.ioc_02.SimpleMovieLister">
        <!--
            name: 调用set方法的名
            value / ref 二选一，value="直接属性值" ref="其他bean的Id"
        -->
        <property name="movieName" value="霸王别姬"/>
        <property name="movieFinder" ref="movieFinder"/>
    </bean>
</beans>