<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mybatis.hello.mapper.CustomerMapper">

    <resultMap id="CustomerRM" type="com.example.mybatis.hello.bean.Customer">
        <id column="c_id" property="id"/>
        <result column="customer_name" property="customerName"/>
        <result column="phone" property="phone"/>
        <!--一对多关联封装-->
        <collection property="orders" ofType="com.example.mybatis.hello.bean.Order">
            <id column="id" property="id"/>
            <result column="address" property="address"/>
            <result column="amount" property="amount"/>
            <result column="customer_id" property="customerId"/>
        </collection>
    </resultMap>

    <select id="getCustomerByIdWithOrders" resultMap="CustomerRM">
        select c.id c_id, c.customer_name, c.phone, o.id, o.    address, o.amount, o.customer_id
        from t_customer c
                 left join t_order o on c.id = o.customer_id
        where c.id = #{id}
    </select>
</mapper>