<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace为接口的全限定符 -->
<mapper namespace="com.hut.mapper.EmployeeMapper">

    <!--
        #{key}: 占位符 + 赋值 emp_id = ?，再将 ? 赋值为id
        ${key}: 字符串拼接  "emp_id = " + id
    -->
    <select id="queryById" resultType="com.hut.pojo.Employee">
        select emp_id empId, emp_name empName, emp_salary empSalary
            from t_emp where emp_id = #{id}
    </select>

    <!--
        1. 传入的单个简单类型 key随便写
    -->
    <delete id="deleteById">
        delete from t_emp where emp_id = #{id}
    </delete>

    <select id="queryBySalary" resultType="com.hut.pojo.Employee">
        select emp_id empId, emp_name empName, emp_salary empSalary
            from t_emp where emp_salary = #{salary}
    </select>

    <!--
        2. 传入实体对象 key = 属性名
    -->
    <insert id="insertEmp">
        insert into t_emp (emp_name, emp_salary) values (#{empName}, #{empSalary});
    </insert>

    <!--
        3. 传入多个简单类型数据 key
         a. key = @Param("value")
         b. arg0 arg1，参数从左到右依次
    -->
    <select id="queryByNameAndSalary" resultType="com.hut.pojo.Employee">
        select emp_id empId, emp_name empName, emp_salary empSalary
            from t_emp where emp_name = #{name} and emp_salary = #{salary}
    </select>

    <!--
        4. 传入Map类型的数据 key = map的key
    -->
    <insert id="insertEmpMap">
        insert into t_emp (emp_name, emp_salary) values (#{name}, #{salary});
    </insert>
</mapper>