<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--1. 普通配置包扫描
        base-package: 指定ioc容器去哪些包下查找注解类
        可以是一个包或多个包
        指定包相当于指定了子包内的所有类
    -->
    <context:component-scan base-package="com.hut.ioc_01"/>

    <!--2. 指定包，但排除注解-->
<!--    <context:component-scan base-package="com.hut.ioc_01">-->
<!--        &lt;!&ndash; context:exclude-filter标签：指定排除规则 &ndash;&gt;-->
<!--        &lt;!&ndash; type属性：指定根据什么来进行排除，annotation取值表示根据注解来排除 &ndash;&gt;-->
<!--        &lt;!&ndash; expression属性：指定排除规则的表达式，对于注解来说指定全类名即可 &ndash;&gt;-->
<!--        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
<!--    </context:component-scan>-->

    <!--3. 指定包，指定包含注解-->
    <!--base-package表示包下所有注解都生效，use-default-filters表示指定包的所有注解先不生效-->
<!--    <context:component-scan base-package="com.hut" use-default-filters="false">-->
<!--        &lt;!&ndash;只扫描包下的注解&ndash;&gt;-->
<!--        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
<!--    </context:component-scan>-->
</beans>